<div class="item">
  <div class='item__piece'>
    <label
      for='{{name}}'
      class='item__title'
    >{{label1}}</label>
    <input placeholder="{{text1}}" type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="{{name}}" class="item__info">
  </div>
  <div class='item__piece'>
    <label
      for='{{name}}'
      class='item__title'
    >{{label2}}</label>
    <input placeholder="{{text2}}" type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="{{name}}" class="item__info">
  </div>
  <div class='item__piece'>
    <label
      for='{{name}}'
      class='item__title'
    >{{label3}}</label>
    <input placeholder="{{text3}}" type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="{{name}}" class="item__info">
  </div>
  <div class='item__piece'>
    <label
      for='{{name}}'
      class='item__title'
    >{{label4}}</label>
    <input placeholder="{{text4}}" type="{{#if type}}{{type}}{{/if}}" value="{{#if value}}{{value}}{{/if}}" name="{{name}}" class="item__info">
  </div>
</div>