<div class='item__piece'>
  <label
    for='{{name}}'
    class='item__title'
  >{{label}}</label>
  <input placeholder="{{text}}"
  type="{{#if type}}{{type}}{{/if}}"
  value="{{#if value}}{{value}}{{/if}}"
  name="{{name}}"
  class="item__info">
</div>